html{
    box-sizing: border-box;
}
nav{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 50;
    padding: 10px 2rem;
    transition: all 500ms ease-in-out;
    overflow-x: hidden;
}
.top{
    background-color: #1e293b40;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.scroll{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

@media (min-width: 640px){
    .navbar{
        padding-inline: 1rem;
    }
    .scroll{
        padding: 0px 2rem;
    }

    .texto-white{
        color:#fff;
    }

    .texto-black{
        --tw-text-opacity: 1;
        color: rgb(55 65 81 / var(--tw-text-opacity));
    }
}
